@font-face {
    font-family: 'Goseogu-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.2/Goseogu-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NPSfontBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
}



body {
    overflow: hidden;
}



#wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #F6EEE1;
}

.backbtn {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 5%;
    left: 4%;
    z-index: 999;
}


/*---------------------------------------main-------------------------------------*/

.tv {
    position: absolute;
    width: 410px;
    height: 433px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./img/tv.png) no-repeat;
    background-size: cover;
}


/*TV 화면 (비디오 클릭하면 화면 꽉 채우며 확대)*/
.tv_display {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 355px;
    transition: width 1.3s cubic-bezier(0.85, 0.46, 0.1, 1.06),
        height 1.3s cubic-bezier(0.85, 0.46, 0.1, 1.06),
        top 1.3s cubic-bezier(0.85, 0.46, 0.1, 1.06);
    z-index: 99;
}



.video_tape1,
.video_tape2,
.video_tape3,
.video_tape4,
.video_tape5,
.video_tape6,
.video_tape7,
.video_tape8,
.video_tape9 {
    width: 310px;
    height: 54px;
    transition: scale 0.5s ease;
}


.video_tape1 {
    margin-left: 50px;
    left: 20%;
    background: url(./img/videotape1.png) center/cover;
}


.video_tape2 {
    margin-right: 5px;
    background: url(./img/videotape2.png) center/cover;
}


.video_tape3 {
    margin-left: 100px;
    background: url(./img/videotape3.png) center/cover;
}


.video_tape4 {
    margin-right: 10px;
    background: url(./img/videotape4.png) center/cover;
}


.video_tape5 {
    margin-left: 60px;
    background: url(./img/videotape5.png) center/cover;
}


.video_tape6 {
    margin-right: 80px;
    background: url(./img/videotape6.png) center/cover;
}


.video_tape7 {
    margin-left: 60px;
    background: url(./img/videotape7.png) center/cover;
}


.video_tape8 {
    margin-right: 100px;
    background: url(./img/videotape8.png) center/cover;
}


.video_tape9 {
    margin-left: 30px;
    background: url(./img/videotape9.png) center/cover;
}

.video_container>div:hover {
    scale: 1.2;
}

.video_container2>div:hover {
    scale: 1.2;
}

.video_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 450px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 150px;
    padding-left: 20px;
}

.video_container2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 450px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 120px;
    padding-right: 20px;
}


@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}





/*------------------------------------1--------------------------------------*/

.moon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(233, 232, 231);
    position: absolute;
    top: 7%;
    transition: top 3s ease;
}


.mount {
    width: 100%;
    height: 260px;
    background: url(./img/mount.png) no-repeat center/cover;
    position: absolute;
    bottom: 0;
    filter: brightness(60%);
    transition: filter 1s ease;
}


.sky {
    width: 100%;
    height: 100vh;
    background: #313359;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 2.2s ease;
}


.character_box {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 58%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 8px;
}


.character1,
.character2,
.character3,
.character4 {
    animation: jump 1s infinite;
}


.character2 {
    animation-delay: 0.5s;
}


.character3 {
    animation-delay: 1.2s;
}


.character4 {
    animation-delay: 2s;
}


@keyframes jump {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-25%);

    }

    100% {
        transform: translateY(0);
    }
}

.morning {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -350px;
    transition: bottom 2.5s ease;
}


.sun {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    background: rgb(255, 208, 0);
}

.sunimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*원뿔형 그라데이션 효과 (repeating-conic-gradient)*/
/*https://www.geeksforgeeks.org/css-repeating-conic-gradient-function/*/
.sunbeam {
    width: 2000px;
    height: 2600px;
    position: absolute;
    background: repeating-conic-gradient(rgba(255, 217, 0, 0.325) 0deg 5deg,
            rgba(112, 100, 30, 0)5deg 10deg,
            rgba(255, 217, 0, 0.272) 10deg 12deg,
            rgba(255, 140, 0, 0) 12deg 18deg,
            rgba(255, 217, 0, 0.55) 18deg 40deg,
            rgba(255, 140, 0, 0) 40deg 58deg,
            rgba(255, 217, 0, 0.114) 58deg 60deg);
    animation: rotate 35s linear infinite;
    opacity: 0;
}




@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*------------------------------------2--------------------------------------*/

#wrap1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    background-color: #E35125;
    margin-bottom: 5vh;
}

.person_container {
    width: 100%;
    height: 85vh;
    position: absolute;
    z-index: 1;
}


.person_body_container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 18px;
}

.person_leg_container {
    width: 100%;
    height: 85vh;
    background-color: #EFB522;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    top: 0;
    gap: 18px;
    z-index: -1;
}


.person1,
.person2,
.person3,
.person4 {
    width: 220px;
    height: 260px;
    background-color: #30804E;
    border-radius: 100% 100% 0 0;
    margin-bottom: 75px;
}

.me {
    width: 220px;
    height: 285px;
    background: url(./img/me.png) no-repeat center/cover;
    transition: margin-bottom 0.1s;
}


.person1_leg,
.person2_leg,
.person3_leg,
.person4_leg,
.me_leg {
    width: 220px;
    height: 300px;
    background: url(./img/leg.png) no-repeat center;
    background-size: 163px;
}



.heightControl {
    /* 기존 디자인 삭제*/
    appearance: none;
    outline: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 25px;
    background: #EFB522;
    border-radius: 30px;

}

.heightControl::-webkit-slider-thumb {
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 2px black;
    background: #30804E;
    cursor: pointer;
}


/*------------------------------------3--------------------------------------*/


#wrap3 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: #E35125;
}

.Dalgona_container {
    width: 75vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dalgona {
    width: 550px;
    height: 550px;
    background-image: url('./img/Dalgona_heart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    margin-top: 26px;
    margin-left: 145px;

}

.Dalgonapan {
    width: 850px;
    height: 600px;
    background: #F2DEC1;
    border-radius: 50px;
    margin-left: 150px;
}



/*달고나 선택창*/
.Dalgona_Choice {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 40px;
}


/*달고나 모양*/
.Dalgona1,
.Dalgona2,
.Dalgona3 {
    width: 190px;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Dalgona1 {
    background-image: url('./img/Dalgona_heart.png');
}

.Dalgona2 {
    background-image: url('./img/Dalgona_star.png');
}

.Dalgona3 {
    background-image: url('./img/Dalgona_um.png');
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}


/*------------------------------------1--------------------------------------*/


.my_body {
    width: 380px;
    height: 500px;
    background: url(./img/me3.png) no-repeat center/cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.my_eyes {
    width: 200px;
    height: 50px;
    display: flex;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 73px;
}

.my_eyeL,
.my_eyeR {
    width: 28px;
    height: 28px;
    background-color: rgb(26, 26, 26);
    border-radius: 50px;
}


/*앞머리*/
.my_heir1 {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 37%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    z-index: 1;
}



/*뒷머리*/
.my_heir2 {
    width: 340px;
    height: 340px;
    position: absolute;
    top: 39.5%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.colorcontainer {
    width: 700px;
    height: auto;
    display: flex;
    position: absolute;
    gap: 500px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.heir,
.eye {
    width: 100px;
    height: 100px;
}

.heir:hover,
.eye:hover {
    opacity: 0.8;
}

/*------------------------------------5--------------------------------------*/


#wrap5 {
    background-color: #E35125;
    position: absolute;
    width: 100%;
    height: 100%;
}



.flip-ww {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 7px;
    width: 540px;
    height: 540px;
    margin: 20px auto;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.35s;
}

.flip-wrap:hover .flip {
    transform: rotateY(180deg);
}


.flip>div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
}


.front1 {
    background: url('./img/Sushiname1.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front2 {
    background: url('./img/Sushiname2.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front3 {
    background: url('./img/Sushiname3.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front4 {
    background: url('./img/Sushiname4.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front5 {
    background: url('./img/Sushiname5.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front6 {
    background: url('./img/Sushiname6.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front7 {
    background: url('./img/Sushiname7.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front8 {
    background: url('./img/Sushiname8.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front9 {
    background: url('./img/Sushiname9.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front10 {
    background: url('./img/Sushiname10.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front11 {
    background: url('./img/Sushiname11.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}

.front12 {
    background: url('./img/Sushiname12.png') no-repeat;
    transform: rotateY(180deg) translateZ(3px);
}


.back1 {
    background: url('./img/Sushi1.png') no-repeat;

}

.back2 {
    background: url('./img/Sushi2.png') no-repeat;
}

.back3 {
    background: url('./img/Sushi3.png') no-repeat;
}

.back4 {
    background: url('./img/Sushi4.png') no-repeat;
}

.back5 {
    background: url('./img/Sushi5.png') no-repeat;
}

.back6 {
    background: url('./img/Sushi6.png') no-repeat;
}

.back7 {
    background: url('./img/Sushi7.png') no-repeat;
}

.back8 {
    background: url('./img/Sushi8.png') no-repeat;
}

.back9 {
    background: url('./img/Sushi9.png') no-repeat;
}

.back10 {
    background: url('./img/Sushi10.png') no-repeat;
}

.back11 {
    background: url('./img/Sushi11.png') no-repeat;
}

.back12 {
    background: url('./img/Sushi12.png') no-repeat;
}

/*------------------------------------6--------------------------------------*/

#wrap6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #EEB422;
    position: relative;
    overflow: hidden;
}

.window {
    display: flex;
    position: absolute;
    top: 30%;
    left: 0;
    height: 60%;
    width: 300%;
}

.window img {
    width: 33.33%;
    height: 100%;
}


@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.33%);
    }
}

.window {
    animation: move 5s linear infinite;
}


.train {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}





/*------------------------------------7--------------------------------------*/

#wrap7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(./img/background8.png) no-repeat center/cover;
    margin-bottom: 5vh;

}


.black {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    display: none;
    animation: opacity 5s ease;
}



.Computer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 46%;
    top: 56%;
    transform: translate(-50%, -50%);
    width: 705px;
    height: 500px;
    background: url(./img/pc.png) no-repeat center/cover;
    margin-left: 15%;
}



.Computer_dp {
    position: absolute;
    left: 32.6%;
    top: 33.8%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 290px;
    border-radius: 15px;
    background: url(./img/screen.png) no-repeat center/cover;
    margin-right: 90px;
}

.Computer_pw {
    position: absolute;
    left: 86.3%;
    top: 74.7%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: #4caf50;
    border-radius: 200px;
    animation: blinking 0.2s ease infinite;
}



.Phone {
    position: absolute;
    left: 18%;
    top: 61%;
    width: 220px;
    height: 176px;
    background: url(./img/telephone.png) no-repeat center/cover;
    z-index: 1;
}



.Phone_s {
    position: absolute;
    left: 16.9%;
    top: 53%;
    width: 250px;
    height: 80px;
    background: url(./img/phone.png) no-repeat center/cover;
    z-index: 1;
    animation: shake2 1.8s infinite;
}

/*스위치 컨테이너*/
.Switch_container {
    width: 500px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


.Switch {
    position: absolute;
    left: 9%;
    top: 18%;
    width: 280px;
    height: 150px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px;
}


.Switch_on {
    width: 80px;
    height: 155px;
    margin-bottom: 30px;
    background: url(./img/switchon.png) no-repeat center/cover;
}

.Switch_off {
    width: 80px;
    height: 155px;
    margin-bottom: 30px;
    background: url(./img/switchoff.png) no-repeat center/cover;

}


@keyframes shake2 {

    0%,
    55% {
        transform: rotate(0);
    }

    15%,
    25%,
    35%,
    45% {
        transform: rotate(20deg);
    }

    20%,
    30%,
    40%,
    50% {
        transform: rotate(-20deg);
    }

}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    80% {
        opacity: 1;
    }

    85% {
        opacity: 0.5;
    }


    100% {
        opacity: 1;
    }

}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}



/*------------------------------------8--------------------------------------*/

#wrap8 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #30804E;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    position: relative;
    width: 480px;
    height: 480px;
    border: solid 3px #EFDDC7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}

.wrap_box {
    width: 430px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    margin-left: 50px;
}


.buttonbox {
    width: auto;
    height: 220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
    background-color: #EFDDC7;
    padding: 25px 20px;
    border-radius: 45px;
}



button {
    width: 90px;
    height: 90px;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: NPSfontBold;
    font-weight: 500;
    color: #EFDDC7;
    border-radius: 25px;
}


button:hover {
    opacity: 0.6;
}

.color_box {
    width: auto;
    height: 160px;
    background-color: #EFDDC7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    border-radius: 45px;
}

.color {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #F5B437;
    border: solid 3px rgb(0, 0, 0);
}

.color2 {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: solid 3px rgb(0, 0, 0);
}

.color3 {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
}

.color:hover,
.color2:hover,
.color3:hover {

    background-color: rgba(0, 0, 0, 0.44);

}


.ear1 {

    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(30, 27, 27);
    transform: rotate(-22deg);
    position: absolute;

}


.ear2 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(30, 27, 27);
    transform: rotate(22deg);
    position: absolute;
    margin-left: 197px;

}


.catear {
    position: relative;
    display: flex;
    z-index: -2;
    right: 1px;
    display: none;
    animation: jump2 1s forwards;
}


.cathead {
    position: absolute;
    display: flex;
    z-index: -1;
    width: 295px;
    height: 235px;
    background-color: rgb(46, 43, 40);
    border-radius: 100%;
    margin-top: 60px;
    display: none;
    animation: jump2 1s forwards;
}


.cat {
    position: absolute;
    top: 18%;
    left: 20%;
}


.eye1 {
    width: 70px;
    height: 70px;
    background-color: rgb(103, 194, 119);
    border-radius: 100%;
    position: absolute;
}


.eye11 {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    margin-left: 10px;
    margin-top: 10px;


}

.eye12 {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin-left: 23px;
    margin-top: 20px;
    position: absolute;

}

.eye2 {
    width: 70px;
    height: 70px;
    background-color: rgb(103, 194, 119);
    border-radius: 100%;
    position: absolute;
    margin-left: 130px;
}

.cateyes {
    position: relative;
    display: flex;
    z-index: 1;
    top: 130px;
    left: 49px;
    display: none;
    animation: jump2 1s forwards;
}

.catmouse {
    position: relative;
    display: flex;
    z-index: 1;
    top: 205px;
    left: 76px;
    display: none;
    animation: jump2 1s forwards;
}

.mouse1 {
    width: 80px;
    height: 62px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: absolute;
}

.mouse2 {
    width: 80px;
    height: 62px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: absolute;
    margin-left: 60px;
}

.nose {
    position: absolute;
    width: 70px;
    height: 35px;
    background-color: rgb(254, 158, 158);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    margin-left: 111px;
    margin-top: 200px;
    z-index: 10;
    display: none;
    animation: jump2 1s forwards;
    border-radius: 20px;
}

.mustache1 {
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transform: rotate(7deg);
}

.mustache2 {
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transform: rotate(-7deg);
    top: 28px;

}

.mustache3 {
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transform: rotate(-7deg);
    left: 188px;
}

.mustache4 {
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    transform: rotate(7deg);
    top: 28px;
    left: 188px;
}

.catmustache {
    position: relative;
    display: flex;
    z-index: 1;
    top: 15px;
    right: 85px;
}

.active {
    display: block;
}





@keyframes jump2 {

    0% {
        transform: translateY(0);
        opacity: 0;
    }

    30% {
        transform: translateY(-35px);
        opacity: 10;
    }

    80% {
        opacity: 50;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }


}



/*------------------------------------9--------------------------------------*/


#wrap9 {
    height: 100vh;
    background: navajowhite;
    position: relative;

}

.home {
    width: 100%;
    height: 100%;
    background: #154998;
}

.light1 {
    width: 520px;
    height: 480px;
    position: absolute;
    top: 56%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom,
            rgba(255, 230, 0, 0.653) 0%,
            rgba(255, 230, 0, 0.376) 30%,
            rgba(255, 230, 0, 0.212) 50%,
            rgba(255, 230, 0, 0) 100%);
    clip-path: polygon(32% 0, 70% 0, 100% 100%, 0% 100%);
    opacity: 0;
}

.light1touch {
    width: 50px;
    height: 28px;
    border: solid 3px black;
    border-radius: 0 0 100px 100px;
    position: absolute;
    top: 26%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}

.light2,
.light3 {
    width: 75px;
    height: 60px;
    background: linear-gradient(to bottom,
            rgba(255, 255, 0, 0.8) 0%,
            rgba(255, 255, 0, 0.4) 30%,
            rgba(255, 255, 0, 0.1) 70%,
            rgba(255, 255, 0, 0) 100%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
    opacity: 0;
}

.light2 {
    position: absolute;
    top: 58%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.light3 {
    position: absolute;
    top: 58%;
    left: 17%;
    transform: translate(-50%, -50%);
}

.light4 {
    width: 245px;
    height: 270px;
    position: absolute;
    top: 74%;
    left: 87.1%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom,
            rgba(255, 255, 0, 0.8) 0%,
            rgba(255, 255, 0, 0.4) 30%,
            rgba(255, 255, 0, 0.1) 70%,
            rgba(255, 255, 0, 0) 100%);
    clip-path: polygon(26% 0, 72% 0, 100% 100%, 0% 100%);
    opacity: 0;
}

.darkness {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.814);
    z-index: 2;
}

.ceilinglight {
    width: 200px;
    position: absolute;
    top: 10%;
    left: 47.9%;
    transform: translate(-50%, -50%);
}


.home_tv {
    width: 340px;
    position: absolute;
    top: 65%;
    left: 47.8%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.home_tv_display {
    width: 200px;
    position: absolute;
    top: 49.8%;
    left: 47.6%;
    transform: translate(-50%, -50%);
}



.tvbtn {
    width: 23px;
    height: 23px;
    background-color: #ffffff00;
    border-radius: 300px;
    position: absolute;
    top: 66%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}



.home_Drawer {
    width: 380px;
    position: absolute;
    top: 55%;
    left: 19%;
    transform: translate(-50%, -50%);
}

.home_table {
    width: 270px;
    position: absolute;
    top: 55%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.tablestand {
    width: 110px;
    height: 90px;
    position: absolute;
    top: 58.8%;
    left: 13.5%;
    transform: translate(-50%, -50%);
}

#standlight {
    width: 50px;
    position: absolute;
    top: 51.2%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}

#standlight2 {
    width: 50px;
    position: absolute;
    top: 51.2%;
    left: 17%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}

#standlight3 {
    width: 120px;
    height: 160px;
    position: absolute;
    top: 48.9%;
    left: 87%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}

.cls-1,
.cls-2,
.cls-3 {
    fill: #f3c33f00;
    stroke: #040000;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.longstand {
    width: 70px;
    height: 280px;
    position: absolute;
    top: 74%;
    left: 87.5%;
    transform: translate(-50%, -50%);
}

.gradient {
    width: 245px;
    height: 185px;
    position: absolute;
    top: 49.8%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    display: none;
    animation: blink 0.5s ease infinite;
}

@keyframes blink {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.6;
    }


    100% {
        opacity: 0.8;
    }

}